{% extends 'base.html' %}

{% block title %}Inicio de sesion{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="mb-4">{{ title }}</h1>
        <form method="POST" action="{{ url_for('auth.register') }}" novalidate>
            <!-- ¡Esto es crucial! Añade el token CSRF oculto -->
            {{ form.hidden_tag() }}

            <div class="form-group mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", size=32) }}
            </div>

            <div class="form-group mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", size=32) }}
            </div>
            <div class="form-check mb-3">
                {{ form.password2.label(class="form-label") }}
                {{ form.password2(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

